// fonts
$font-main: 'Roboto Slab', serif;
$font-secundary: 'Roboto', sans-serif;



// colors

$color-1:#f26002;
$color-2:#ffffff;
$color-3:#8ccbea;
$color-4:#0271bc;
$color-5:#304268;
$color-6:#000000;
$color-bg-3:#eff9ff;

