.footer {
  background-color: $color-5;
  font-family: $font-secundary;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  gap: 3rem;
  /////movil/////
  height: 46.5rem;
  padding: 6rem 1.5rem 4.5rem 1.5rem;
}
////tablet////
@media (min-width: 768px) {
    .footer {
      height: 24rem;
      padding: 4.5rem 3.9rem 4.5rem 3.9rem;
    }
}
////desktop////
@media (min-width: 1280px) {
    .footer {
        height: 24rem;
        padding: 4.5rem 23rem 4.5rem 25rem;       
    }
}
.container-1 {
  height: 15rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
////tablet////
@media (min-width: 768px) {
    .container-1 {
      order: 2;
      align-items: flex-start;
    }
}
.container-2 {
  height: 9rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
////tablet////
@media (min-width: 768px) {
  .container-2 {
    order: 3;
    align-items: flex-start;
  }
}
.container-3 {
  height: 6rem;
  width: 20rem;
  color: $color-2; 
  font-size: 1.4rem;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
////tablet////
@media (min-width: 768px) {
  .container-3 {
    order: 1;
    align-items: flex-start;
  }
}
.footer__a {
  text-decoration: none;
  color: $color-2;
  
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}
