.section1 {
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    //// movil/////
    height: 568px;
    padding: 0px 1.5rem 5.3rem 1.5rem;
}

////tablet////
@media (min-width: 768px) {
    .section1 {
        height: 768px;
        padding: 0rem 3.9rem 4.5rem 3.9rem;
    }
}
////desktop////
@media (min-width: 1280px) {
    .section1 {
        height: 768px;
        padding: 0rem 27.5rem 1.3rem 27.5rem;   
    }
}
//////// TÍTULO Y SUBTÍTULO //////////
       
.section1__h1 {
    font-family: $font-main;
    color: $color-2;
    text-align: center;
    ////movil////
    font-size: 4.2rem;
    line-height: 5.5rem;
}
////// tablet /////
@media (min-width: 768px) {
    .section1__h1 {
        font-size: 8rem;
        line-height: 10.6rem;
    }
}
////desktop////
@media (min-width: 1025px){
    .section1__h1 {
        font-size: 10rem;
        line-height: 13.2rem;
    }
}
.section1__h4 {
    font-family: $font-secundary;
    color: $color-2;
    font-weight: 400;
    margin: 2px 0px 36px 0px;
    ////movil/////
    font-size: 1.6rem;
    }
////// tablet y desktop/////
@media (min-width: 768px) {
    .section1__h4 {
        font-size: 2.4rem;
    }
}