.section2 {
    background-color: $color-2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /////movil/////
    height: 37.6rem;
    padding: 3rem 1.5rem 4.5rem 1.5rem;
}
////tablet////
@media (min-width: 768px) {
    .section2 {
        height: 33rem;
        padding: 3rem 3.9rem 6rem 3.9rem;
    }
}
////desktop////
@media (min-width: 1280px) {
    .section2 {
        height: 36rem;
        padding: 6rem 27.5rem 6rem 27.5rem;       
    }
}
//////// TÍTULO, SUBTÍTULO Y TEXTO //////////
    
.section2__h5 {
    font-family: $font-secundary;
    font-weight: 400;
    color: $color-3;
    line-height: 3rem;
    ////movil y tablet//////
    font-size: 1.4rem;
}
////desktop////
@media (min-width: 1280px) {
    .section2__h5 {
        font-size: 1.6rem;
    }
}
.section2__h2 {
    font-family: $font-main;
    color: $color-6;
    /////movil/////
    font-size: 2.4rem;
    line-height: 3rem;
    margin-top: 1px;
}
////tablet////
@media (min-width: 768px) {
    .section2__h2 {
        font-size: 2.6rem;
        line-height: 4.5rem;
        margin-bottom: 5px;
    }
}
////desktop////
@media (min-width: 1280px) {
    .section2__h2 {
        font-size: 3.2rem;
    }
}
.section2__p {
    font-family: $font-secundary;
    color: $color-5;
    margin-top: 15px;
    line-height: 3rem;
    /////movil/////
    font-size: 1.8rem;
}
////tablet y desktop////
@media (min-width: 768px) {
    .section2__p {
        font-size: 2rem;
        padding-right: 8px;
        }
}