<section id="section3" class="section3">

    <div class="container">

        <div class="box-h2">
            <h2 class="section3__h2">3 Reasons To Purchase</h2>
        </div>

        <div class="box">
            <h3 class="section3__h3">Ut sed metus</h3>
            <p class="section3__p">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>

        <div class="box">
            <h3 class="section3__h3">Curabitur ac erat</h3>
            <p class="section3__p">Mauris mattis urna quis lorem molestie..</p>
        </div>

        <div class="box">
            <h3 class="section3__h3">Morbi dictum</h3>
            <p class="section3__p">Aliquam in dolor et dolor tincidunt.</p>
        </div>

        <div class="box-button">
            <a class="section3__a" href="http://www.adalab.es">More reasons</span></a>
        </div>

    </div>

    <div class="scroll-up">
        <a href="#inicio">
            <figure>
                <img class="section__iimg" src="/images/ico-arrow.svg" alt="Click para ir al principio de la página">
            </figure>
        </a>
    </div>

</section>