<section class="section1">
    
    <a class="section1__a" href="http://www.adalab.es">
        <figure>
            <img class="section1__aimg" src="/images/ico-menu.svg" alt="Enlace a la web de Adalab">
        </figure>

    </a>
    <h1 class="section1__h1">ANONYMOUS PROXY</h1>
    <h4 class="section1__h4">In hac habitasse platea dictumst.</h4>
    <figure class="section1__ico" >
        <img class="section1__iimg" src="/images/ico-scroll-down.svg" alt="">
    </figure>
    
</section>