<section id="inicio" class="section1">

    <nav class="menu">
        <a class="menu__a" href="http://www.adalab.es">
            <figure>
                <img class="menu__img" src="/images/ico-menu.svg" alt="Enlace a la web de Adalab">
            </figure>
        </a>
    </nav>


    <h1 class="section1__h1">ANONYMOUS PROXY</h1>
    <h4 class="section1__h4">In hac habitasse platea dictumst.</h4>


    <div class="scroll-below">
        <a href="#section3">
            <figure>
                <img class="section1__ico" src="/images/ico-scroll-down.svg" alt="Pulse aquí para ir a 3 Reasons">
            </figure>
        </a>
    </div>

</section>