<section class="section1">

    <nav class="section1__nav">
        <a class="section1__a" href="http://www.adalab.es">
            <figure>
                <img class="section1__aimg" src="/images/ico-menu.svg" alt="Enlace a la web de Adalab">
            </figure>
        </a>
    </nav>
    

    <h1 class="section1__h1">ANONYMOUS PROXY</h1>
    <h4 class="section1__h4">In hac habitasse platea dictumst.</h4>
    
    
    <div class="section1__scroll">
        <a href="#section3">
            <figure>
                <img class="section1__ico" src="/images/ico-scroll-down.svg" alt="Pulse aquí para ir a 3 Reasons">
            </figure>
        </a>
    </div>

</section>