<section id="section3" class="section3">
    
    <div class="section3__text">
        <h2 class="section3__h2">3 Reasons To Purchase</h2>
    </div>
    

    <div class="section3__text">
        <h3 class="section3__h3">Ut sed metus</h3>
        <p class="section3__p">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    
    <div class="section3__text">
        <h3 class="section3__h3">Curabitur ac erat</h3>
        <p class="section3__p">Mauris mattis urna quis lorem molestie..</p>
    </div>
    
    <div class="section3__text">
        <h3 class="section3__h3">Morbi dictum</h3>
        <p class="section3__p">Aliquam in dolor et dolor tincidunt.</p>
    </div>
    
    <div class="section3__more">
        <a class="section3__a" href="http://www.adalab.es">More Reasons</span></a>
    </div>
    

   
    
</section>

<figure class="section3__ico" >
    <img class="section__iimg" src="/images/ico-arrow.svg" alt="presione para ir al inicio de la página">
</figure>
